/******************
 Global Settings
******************/
.ui,.ui.input input,.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="file"], .ui.form input[type="url"]{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif!important;}
.grey{color:#999}
.bgblack{background-color:#404040!important}
.silver{color:#cccccc}
.blue{color:#00A0E8}
.bgblue{background-color:#00A0E8}
.orange{color:#FF6100}

/******************
 Override Semantic
******************/

/******************
      PaceJS
******************/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/******************
      Style
******************/
body{
    overflow-y:hidden;
    overflow-x:auto;
    background-color:#ececec;
}
.wrapper{
    margin:1em;
    height:100%;
    min-width:40rem;
    .body-wrapper{
      width:87.5%;
      max-width:87.5%;
      .header{
        position: relative;
        height: 5rem;
        background: #fff;
        padding:1rem;
        border-bottom: 1px solid #F0F0F0;
        .header-left,.header-right{
            display:inline-block;
            .search.icon{
                pointer-events:auto;
            }
        }
        .header-right{
            float:right;
            margin-right:2rem;
            .ui.compact.menu{
                height:2rem;
            }
        }
      }
      .content-body{
          padding-left:1rem;
          padding-right:1rem;
          .ui.breadcrumb{
              padding-top:0.9rem;
              padding-bottom:0.9rem;
              .active.section{
                  color:#666;
              }
              a{
                 color:#999;
                 font-size:0.85rem;
              }
              
          }
          .content-wrapper{
              background-color:white;
              height:61rem;
              overflow-y:auto;
          }
      }
    }
    .message-container{
        position:fixed;
        bottom:2rem;
        right:2rem;
    }
}

.ui.grid{
    height:100%;
    .row{
      padding:0;
    }
}
.ui.menu.layout-nav{
    height:100%;
    width:12.5%!important;
    padding:0!important;
    border-radius:0; 
    .item{
        text-align:center;
    }
    .ui.dropdown.item:hover{
        text-align:center;
    }
    .logo{
        padding:6px; 
        font-size:175%;
        text-align:center; 
        color:white;
        p{font-size:0.6em;color:#ccc;padding-top:5px;} 
    }

}

/******************
   UserProfile
******************/

.user-profile{
    .content-left,.content-right{
        vertical-align:top;
        display:inline-block;
        float:left;
        padding-top:2rem;
    }
    .content-left{
        width:50%;
        padding-right:2rem;
        .ui.card{
            float:right;
        }
    }
    .content-right{
        .ui.form .field > label{
            font-weight:normal;
        }
    }
}