/******************
 Global Settings
******************/
.ui,.ui.input input,.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="file"], .ui.form input[type="url"],h1, h2, h3, h4, h5,.ui.modal>.header,.content .header{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif!important;}
ul{list-style-type:none;padding:0;margin:0;}
.grey{color:#999}
.bgblack{background-color:#404040!important}
.silver{color:#cccccc}
.blue{color:#00A0E8}
.bgblue{background-color:#00A0E8}
.orange{color:#FF6100}
.clearboth{clear:both}
.invisible{opacity:0}
.hidden{display:none!important}
.red{color:#DB2828}
/******************
 Override Semantic
******************/

/******************
      PaceJS
******************/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/******************
      Style
******************/
body{
    overflow-y:hidden;
    overflow-x:auto;
    background-color:#ececec;
}
.wrapper{
    margin:1em;
    height:100%;
    min-width:40rem;
    .body-wrapper{
      width:87.5%;
      max-width:87.5%;
      >.header{
        position: relative;
        height: 5rem;
        background: #fff;
        padding:1rem;
        border-bottom: 1px solid #F0F0F0;
        .header-left,.header-right{
            display:inline-block;
            .search.icon{
                pointer-events:auto;
            }
        }
        .header-right{
            float:right;
            display:none;
            margin-right:2rem;
            .ui.compact.menu{
                height:2rem;
            }
        }
      }
      .content-body{
          padding-left:1rem;
          padding-right:1rem;
          .ui.breadcrumb{
              padding-top:0.9rem;
              padding-bottom:0.9rem;
              .active.section{
                  color:#666;
              }
              a{
                 color:#999;
                 font-size:0.85rem;
              }
              
          }
          .content-wrapper{
              background-color:white;
              height:61rem;
              overflow-y:auto;
          }
      }
    }
    .message-container{
        position:fixed;
        bottom:2rem;
        right:2rem;
        z-index:2000;
    }
}

.ui.grid{
    height:100%;
    .row{
      padding:0;
    }
}
.ui.menu.layout-nav{
    /*height:100%;*/
    width:12.5%!important;
    padding:0!important;
    border-radius:0; 
    .item{
        text-align:center;
    }
    .ui.dropdown.item:hover{
        text-align:center;
    }
    .logo{
        padding:6px; 
        font-size:175%;
        text-align:center; 
        color:white;
        p{font-size:0.6em;color:#ccc;padding-top:5px;} 
    }
    
}
.ui.modal.admin-modal {
    padding-left: 20px;
    padding-right: 20px;
    .header {
        text-align:center;
    }
    .ui.form {
        margin: 10px auto; 
        width:80%;
        max-width:400px;
    }
}
.ui.container.admin-content {
    padding-left: 20px; 
    padding-right:20px;
}

.archived-row {
    background-color : #ccc;
}

/************************************
    UserProfile & EditPassword
************************************/

.user-profile,.edit-password{
    .content-upper{
        width: 56%;
        margin: auto;
    }
    .content-left,.content-right{
        vertical-align:top;
        display:inline-block;
        float:left;
        padding-top:2rem;
    }
    .content-left{
        width:50%;
        padding-right:2rem;
        .ui.card{
            float:right;
        }
    }
    .content-right{
        width:50%;
        .ui.form .field > label{
            font-weight:normal;
        }
        .ui.form .inline.fields .field{
            padding:0;
        }
    }
    
}
.mobile-editor .form-container{
       margin-left:15%;
}
.edit-password{
    .content-bottom{
        width: 56%;
        margin: auto;
    }
}

/************************************
    Region & Scenery
************************************/
.region-management,.scenery-management,.city-management,.trip-management{
   
    .tool-bar,.table-container{
        padding:0.5rem;
    }
     i.caret{
        transition:all ease-in-out 0.3s;
        cursor:pointer;
    }
    .open{
        transform:rotate(-90deg)!important;
    }
    #tripContext{
        .field label{min-width:4.5rem;}
    }
    //ueditor
    .edui-default{
        z-index:1!important;
        .edui-editor-iframeholder{min-height:150px;}
    }
    #commonInfo{
    .inline.fields>.three.wide.field{min-width:20rem;}
    #photoListContainer{
        .saved-photo{
            li{
               width:10rem;height:11rem;display:inline-block;position:relative;
               div{height:8rem;width:100%;position:absolute;}
               span{position:absolute;height:2rem;bottom:1rem;}
            }
        }
        .green.button{
            position:relative;
            #fileUpload{
               position: absolute;
               width: 15rem;
               height: 15rem;
               left: -5rem;
               top: -1rem;
            }
        }
       
        .photo-item{
            display:inline-block;
            margin:1em 0;
            vertical-align:top;
            margin:0 0.2rem 1rem 0.2rem;
            .image{
                height:13rem;
                overflow:hidden;
                img{width:100%}
            }
        }
    }
    
}
    #productInfo{
        .scenery-selection{display:inline-block;min-width:14rem}
    }
}
.region-editor .form-container,.scenery-editor .form-container,#commonInfo{
    width:100%;
    #photoListContainer{
        li{
            padding-bottom:0.3rem;
        }
        .sceneryPhoto{
            width:15rem;
            height:12rem;
            float:left;
            position:relative;
            overflow:hidden;
            margin:0.3rem;
            img{
                position:absolute;
                margin:auto;
                top:0;left:0;right:0;bottom:0;
            }
        }
        #photoList{
            li{
                &:hover{ span{opacity:1}}
                span{float:right;opacity:0;transition:all ease 0.4s;cursor:pointer; i{font-size:1.5rem;} &:hover{ i{transform: scale(1.5);transition:all ease 0.4s;}}}
            }
        }
        #fileUpload{
           width:100%;
           height:100%;
           opacity:0!important;
           cursor:pointer;
       }
       #pendingList{
           position:relative;
           transition:all ease-in-out 0.5s;
           .single-progress{
               width:100%;
               height:100%;
               opacity:0.7; 
               background-color:white;
               position:absolute;
           }
           .single-progress-text{
               width:100%;
               height:100%;
               text-align:center;
               position:absolute;
               span{
                   top:42%;
                   position:relative;
                   font-size:1.5rem;
                   color:#5cb85c;
               }
           }
       }
    }
    
}
