#login-form{
    position:absolute;
    top:20%;
    left:40%;
    background-color:transparent;
    width:20rem;
    z-index:10;
    input{
    background: transparent;
    border: rgba(255,255,255,0.3) 2px solid;
    color: rgba(255,255,255,0.8);
    border-radius:2px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif!important;
      &:focus{
           color: rgba(255,255,255,1);
      }
    }
    i{color:ivory;}
}
.logo-container img{
    width:100%;
    padding-bottom:3rem;
}
.ui.form .field.field input:-webkit-autofill{
    box-shadow: 0 0 0 100px #fff inset!important;
    border-color: rgba(0,0,0,0.3)!important;
}
.ui.icon.input>input:focus~i.icon {
    opacity: 1;
    color: #fff;
}
.login_password{
    position: absolute;
    line-height: 3rem;
    color: rgba(255,255,255,0.8)!important;
    font-size: 1rem;
    padding-left: 2.67142857em!important;
    padding-right: 1em!important;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif!important;
    z-index:-1
}
#login{
    border-radius: 2px;
    color: rgba(255,255,255,0.3)!important;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.3) inset!important;
    border: 1px solid;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif!important;
    &:hover{
        color: rgba(255,255,255,0.8)!important;
        box-shadow: 0 0 0 1px rgba(255,255,255,0.8) inset!important;
    }
}

#label{color:rgba(255,255,255,0.8);
    line-height: 1.2rem; 
    transition: color 0.1s ease;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif!important;
}
#error-message{
    padding: 1rem;
    border: 2px solid rgba(250, 114, 125,0.8);
    border-radius:2px;
    margin-top: 1rem;
    color:rgba(250, 114, 125,0.8);
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif!important;
    ul{
      padding-left:1rem;
    }
}
