@{
    ViewBag.Title = "首页";
}
<link href="~/Lib/Swiper/css/swiper.min.css" rel="stylesheet" />
<link href="~/Lib/VectorMap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
<style>
    .nav{background-color:transparent;}
</style>
<div class="swiper-container main">
    <div class="swiper-wrapper homepage">
        @{
            var rand = (new Random()).Next(7, 12);
            var url = "/Images/Background/background_" + rand + ".jpg";
        }
        <div class="swiper-slide background" style="background-image:url(@url)" id="background">
            <div class="ui container">
                <div class="content-container">
                    <div class="logo-container">
                        <img src="~/Images/Logo/logo_white_web.png" />
                        <h2 class="ui header slogan">走起 瞰世界</h2>
                    </div>
                    <div class="search-container">
                        <div class="ui fluid category search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="搜索产品/城市/景点...">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="upwards arrow-container">
                <span></span>
            </div>

        </div>
        <div class="swiper-slide slideTwo">
            <div class="ui container">
                <div class="title-container teal" data-swiper-parallax="-1000">
                    限时团购
                    <div class="leftwards arrow-container">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="rightwards arrow-container">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="swiper-container swiper-container-h" data-swiper-parallax="-1000">
                    <div class="swiper-wrapper">
                        
                        <div class="swiper-slide">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="~/Images/Background/background_3.jpg" />
                                </div>
                                <div class="content">
                                    <span class="header">秋日森林 拉斯维加斯、大峡谷、洛杉矶7天6夜豪华之旅</span>
                                    <div class="left floated sub-title">
                                        <span class="date">美西印象 拉斯维加斯、大峡谷、洛杉矶7天6夜豪华之旅</span>
                                    </div>

                                    <div class="right floated price-area">
                                        <span class="teal our-price">现价 $599</span>
                                        <span class="retail-price">原价￥866</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="left floated">
                                        美国西部
                                    </span>
                                    <span class="right floated favorite">
                                        <i class="pointing right icon"></i>
                                        查看详情
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="~/Images/Background/background_2.jpg" />
                                </div>
                                <div class="content">
                                    <span class="header">秋日森林 拉斯维加斯、大峡谷、洛杉矶7天6夜豪华之旅</span>
                                    <div class="left floated sub-title">
                                        <span class="date">美西印象 拉斯维加斯、大峡谷、洛杉矶7天6夜豪华之旅</span>
                                    </div>

                                    <div class="right floated price-area">
                                        <span class="teal our-price">现价 $599</span>
                                        <span class="retail-price">原价￥866</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="left floated">
                                        美国西部
                                    </span>
                                    <span class="right floated favorite">
                                        <i class="pointing right icon"></i>
                                        查看详情
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="~/Images/Background/background_4.jpg" />
                                </div>
                                <div class="content">
                                    <span class="header">秋日森林 拉斯维加斯、大峡谷、洛杉矶7天6夜豪华之旅</span>
                                    <div class="left floated sub-title">
                                        <span class="date">美西印象 拉斯维加斯、大峡谷、洛杉矶7天6夜豪华之旅</span>
                                    </div>

                                    <div class="right floated price-area">
                                        <span class="teal our-price">现价 $599</span>
                                        <span class="retail-price">原价￥866</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="left floated">
                                        美国西部
                                    </span>
                                    <span class="right floated favorite">
                                        <i class="pointing right icon"></i>
                                        查看详情
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="~/Images/Background/background_5.jpg" />
                                </div>
                                <div class="content">
                                    <span class="header">秋日森林 拉斯维加斯、大峡谷、洛杉矶7天6夜豪华之旅</span>
                                    <div class="left floated sub-title">
                                        <span class="date">美西印象 拉斯维加斯、大峡谷、洛杉矶7天6夜豪华之旅</span>
                                    </div>

                                    <div class="right floated price-area">
                                        <span class="teal our-price">现价 $599</span>
                                        <span class="retail-price">原价￥866</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="left floated">
                                        美国西部
                                    </span>
                                    <span class="right floated favorite">
                                        <i class="pointing right icon"></i>
                                        查看详情
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="~/Images/Background/background_1.jpg" />
                                </div>
                                <div class="content">
                                    <span class="header">秋日森林 拉斯维加斯、大峡谷、洛杉矶7天6夜豪华之旅</span>
                                    <div class="left floated sub-title">
                                        <span class="date">美西印象 拉斯维加斯、大峡谷、洛杉矶7天6夜豪华之旅</span>
                                    </div>

                                    <div class="right floated price-area">
                                        <span class="teal our-price">现价 $599</span>
                                        <span class="retail-price">原价￥866</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <span class="left floated">
                                        美国西部
                                    </span>
                                    <span class="right floated favorite">
                                        <i class="pointing right icon"></i>
                                        查看详情
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-slide slideThree">
            <div class="ui container">
                <div class="title-container teal" data-swiper-parallax="-1000">
                    您想去...
                </div>
                <div id="worldMap" style="height:100%"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="ui container">
                <div class="title-container teal stay" data-swiper-parallax="-1000">
                    或者是...
                </div>
                <div class="button-container">
                    <a href="/Finder/FindTrips" class="ui teal button">浏览所有行程</a>
                </div>
                <footer class="teal">
                    <p>© @DateTime.Now.Year - 瞰世界国际旅行社有限公司 版权所有</p>
                    <p>京ICP备xxxxxxxx号</p>
                </footer>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<script src="~/Lib/Swiper/js/swiper.min.js"></script>
<script src="~/Lib/VectorMap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="~/Lib/VectorMap/vectmap-world-mill-cn.js"></script>
<script src="~/Scripts/Frontend/Home/index.js"></script>