<div class="leftNav">
    <div class="ui vertical menu">
        <div class="ui dropdown item">
            我的行程
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item"><i class="edit icon"></i> 我的订单</a>
                <a class="item"><i class="globe icon"></i> 我的收藏</a>
            </div>
        </div>
        <a class="item">
            <i class="mail icon"></i> 我的消息
        </a>
        <a class="item">
            <i class="money icon"></i> 我的优惠券
        </a>
       
        <a class="item"><i class="users icon"></i> 我的联系人</a>
        <div class="ui dropdown item">
            账号信息
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item"><i class="info icon"></i> 个人资料</a>
                <a class="item"><i class="lock icon"></i> 修改密码</a>
                <a class="item"><i class="mobile icon"></i> 修改手机号</a>
            </div>
        </div>
    </div>
</div>
