@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav-list">
        <li class="nav-item">
            <div class="ui compact menu">
                <div class="ui simple dropdown item">
                    <img class="ui avatar image" src="">
                    <span class="nickname"></span>
                    <div class="menu">
                        <div class="item mail">邮件</div>
                        <div class="item log-out">注销</div>
                    </div>
                </div>

            </div>
        </li>
    </ul>
   
}
else
{
    <ul class="nav-list">
        <li class="nav-item" data-url="/Account/Login">登录</li>
    </ul>
}
