@charset "UTF-8";
.ui, .ui.input input, .ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="file"], .ui.form input[type="url"], h1, h2, h3, h4, h5, .ui.modal > .header, .content .header {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important; }

.hidden {
  display: none; }

body .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem; }
  body .header-container .logo {
    background: url(/Images/Frontend/Login/wix-logo.svg) no-repeat;
    width: 15rem;
    height: 10rem;
    background-size: contain; }

body .signin-section {
  margin-top: 5rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
  position: relative; }
  body .signin-section .local-register {
    display: none; }
  body .signin-section .local-signin, body .signin-section .local-register {
    width: 21rem; }
    body .signin-section .local-signin #captchaDiv, body .signin-section .local-register #captchaDiv {
      display: none; }
    body .signin-section .local-signin .forget-password, body .signin-section .local-register .forget-password {
      color: rgba(0, 0, 0, 0.87);
      transition: color .1s ease;
      float: right;
      font-weight: 100;
      cursor: pointer; }
      body .signin-section .local-signin .forget-password:hover, body .signin-section .local-register .forget-password:hover {
        color: #2185d0; }
    body .signin-section .local-signin .field > .button, body .signin-section .local-register .field > .button {
      width: 21rem;
      height: 3.2rem;
      font-size: 1.1em; }
    body .signin-section .local-signin .action.input input, body .signin-section .local-register .action.input input {
      width: 49% !important; }
    body .signin-section .local-signin .action.input .teal.button, body .signin-section .local-register .action.input .teal.button {
      text-align: center;
      padding-right: 1.5em !important; }
  body .signin-section .divider {
    opacity: 0.8;
    background-color: #858f96; }
  body .signin-section .vertical {
    width: 1px;
    display: block; }
  body .signin-section .horizontal {
    height: 1px;
    width: 21rem;
    margin: 1rem 0 1rem 0;
    display: none; }
  body .signin-section .social-signin {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 21rem; }
    body .signin-section .social-signin .wechat-button {
      border: solid 1px #51c332;
      color: #51c332; }
      body .signin-section .social-signin .wechat-button .button-icon {
        background-color: #51c332; }
    body .signin-section .social-signin .qq-button {
      border: solid 1px #48b9e9;
      color: #48b9e9; }
      body .signin-section .social-signin .qq-button .button-icon {
        background-color: #48b9e9; }
    body .signin-section .social-signin .weibo-button {
      border: solid 1px #e32529;
      color: #e32529; }
      body .signin-section .social-signin .weibo-button .button-icon {
        background-color: #e32529; }
    body .signin-section .social-signin .social-button {
      width: 21rem;
      position: relative;
      display: flex;
      border-radius: 2px;
      margin-bottom: 2rem;
      cursor: pointer; }
      body .signin-section .social-signin .social-button .button-icon {
        width: 5rem;
        height: 3.5rem; }
        body .signin-section .social-signin .social-button .button-icon i {
          color: white;
          font-size: 2.6em;
          margin: .4em 0 0 0.35em; }
      body .signin-section .social-signin .social-button .button-div {
        font-size: 1.2em;
        line-height: 3.5rem;
        text-align: center;
        width: 16rem; }

body .term-of-use {
  text-align: center;
  display: none; }

@media only screen and (min-width: 1200px) {
  body .ui.container {
    width: 800px; } }

@media only screen and (max-width: 767px) {
  body .header-container {
    padding-top: 2rem; }
    body .header-container .logo {
      background: url(/Images/Frontend/Login/wix-logo.svg) no-repeat;
      width: 10rem;
      height: 6rem;
      background-size: contain; }
  body .signin-section {
    align-items: center;
    flex-direction: column; }
    body .signin-section .vertical {
      display: none; }
    body .signin-section .horizontal {
      display: block; }
    body .signin-section .social-signin {
      flex-direction: row;
      justify-content: space-between; }
      body .signin-section .social-signin .social-button {
        width: 5rem;
        border-radius: 2px;
        cursor: pointer; }
        body .signin-section .social-signin .social-button .button-div {
          display: none; } }

