@import url(layout.min.css);
.nav.topNav {
    background: #fff !important;
    opacity: 1;
}
.body-wrapper {
    padding-top: 5rem;

    .ui.container {
        min-width: 933px
    }

    .subNav-wrapper {
        height: 8rem;
        background-color: #00b5ad;
        .nav-divider{
            width:2px;
            height:80%;
            background-color:white;
            opacity:0.2;
        }
        .ui.container {
            height: 100%;
        }

        .left-content-wrapper, .right-content-wrapper {
            float: left;
            width: 50%;
            height: 100%;
            display:none;
            padding-top:1rem;
            color:white;
            position:relative;
        }

        .left-content-wrapper {
            .image-container {
                width: 6rem;
                overflow: hidden;
                border-radius: 6rem;
                height: 6rem;
                img {
                    width: 100%;
                }
            }
            .info-container{
                padding-left:2rem;
                >div{height:2rem;font-size:1.1rem}
            }
        }

        .right-content-wrapper {
            float: right;
            .section{width:10rem;padding:0.3rem 1rem 0 1rem;text-align:center;vertical-align:middle;font-size:1.2rem}
        }
    }

    .leftNav-wrapper, .content-wrapper {
        display: inline-block;
        vertical-align: top;
        padding-top: 2rem;
    }
}

