@import url(layout.min.css);
.nav.topNav {
  background: #fff !important;
  opacity: 1; }

.body-wrapper {
  padding-top: 5rem;
  background-color: #eaefef; }
  .body-wrapper .ui.container.content-body {
    min-width: 933px; }
  .body-wrapper .subNav-wrapper {
    height: 8rem;
    background-color: #00b5ad; }
    .body-wrapper .subNav-wrapper .nav-divider {
      width: 2px;
      height: 80%;
      background-color: white;
      opacity: 0.2; }
    .body-wrapper .subNav-wrapper .ui.container {
      height: 100%; }
    .body-wrapper .subNav-wrapper .left-content-wrapper, .body-wrapper .subNav-wrapper .right-content-wrapper {
      float: left;
      width: 50%;
      height: 100%;
      display: none;
      padding-top: 1rem;
      color: white;
      position: relative; }
    .body-wrapper .subNav-wrapper .left-content-wrapper .image-container {
      width: 6rem;
      overflow: hidden;
      border-radius: 6rem;
      height: 6rem; }
      .body-wrapper .subNav-wrapper .left-content-wrapper .image-container img {
        width: 100%; }
    .body-wrapper .subNav-wrapper .left-content-wrapper .info-container {
      padding-left: 2rem; }
      .body-wrapper .subNav-wrapper .left-content-wrapper .info-container > div {
        height: 2rem;
        font-size: 1.1rem; }
    .body-wrapper .subNav-wrapper .right-content-wrapper {
      float: right; }
      .body-wrapper .subNav-wrapper .right-content-wrapper .section {
        width: 10rem;
        padding: 0.3rem 1rem 0 1rem;
        text-align: center;
        vertical-align: middle;
        font-size: 1.2rem; }
  .body-wrapper .leftNav-wrapper, .body-wrapper .content-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 1rem; }
  .body-wrapper .leftNav-wrapper {
    width: 20%; }
    .body-wrapper .leftNav-wrapper .leftNav .vertical.menu {
      z-index: 15;
      width: auto;
      max-width: 15rem;
      min-width: 12rem; }
      .body-wrapper .leftNav-wrapper .leftNav .vertical.menu .dropdown .menu > .item {
        z-index: 15; }
  .body-wrapper .content-wrapper {
    background: white;
    width: 79.5%;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: .28571429rem;
    padding: 1rem; }

