
@{
    ViewBag.Parent = "账户管理";
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}

<div class="ui container edit-password">
    <div class="content-upper" style="width:56%;margin:auto">
        <div class="content-left">
            <div class="ui card">
                <div class="image">
                    <img src="~/Images/DefaultImages/lock.jpg" />
                </div>
            </div>
        </div>
        <div class="content-right">
            <form class="ui form" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="field">
                    <label>请输入旧密码</label>
                    <input type="password" name="old" placeholder="旧密码" value="">
                </div>
                <div class="field">
                    <label>请输入新密码</label>
                    <input type="password" name="new" placeholder="新密码" value="">

                </div>
                <div class="field">
                    <label>再次输入新密码</label>
                    <input type="password" name="confirm" placeholder="确认密码" value="">
                </div>
                <button class="ui basic button" id="submitForm">
                    <i class="icon save"></i>
                    保存
                </button>
            </form>

        </div>
    </div>
 
    <div class="clearboth"></div>
    <div class="content-bottom" style="width:56%;margin:auto">
        <br />
        <div class="ui fitted divider"></div>
        <div class="ui icon info message">
            <i class="warning sign icon"></i>
            <div class="content">
                <div class="header">
                    密码注意事项
                </div>
                <ul class="list">
                    <li>密码长度必须大于6位.</li>
                    <li>密码必须包括一个大写字母,一个小写字母和一个数字.</li>
                </ul>
            </div>
        </div>
    </div>
    
</div>

<script>
    $(function () {
        function BindEvents() {
            $('#submitForm').on('click', function (event) {
                event.preventDefault();
                SubmitForm();
            })
        }
        function SubmitForm() {
            var model = {
                OldPassword: $('input[name=old]').val(),
                Password: $('input[name=new]').val(),
                ConfirmPassword: $('input[name=confirm]').val(),
            }, $submit = $('#submitForm');
            console.log(model)
            if (model.OldPassword.length < 6 || model.Password.length < 6) {
                return $.tip(".message-container", "密码错误", "密码长度不能小于6位", "negative", 4);
            }
            if (model.OldPassword == model.Password) {
                return $.tip(".message-container", "密码错误", "新旧密码不能相同", "negative", 4);
            }
            if (model.Password != model.ConfirmPassword) {
                return $.tip(".message-container", "密码错误", "两次密码输入不匹配", "negative", 4);
            }
            if (!$submit.hasClass('loading')) {
                $.ajax({
                    url: "/Account/UpdateUserPassword",
                    method: 'post',
                    beforeSend: function () {
                        $('#submitForm').addClass('loading');
                    },
                    data: {
                        model: model,
                        __RequestVerificationToken: $('.ui.form input[name="__RequestVerificationToken"]').val(),
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            $submit.removeClass('loading');
                            $.tip(".message-container", "密码修改成功", "已成功为您修改了新的密码", "positive", 4);
                        } else {
                            $submit.removeClass('loading');
                            $.tip(".message-container", "保存失败", data.message, "negative", 4);
                        }

                    },
                    error: function (data) { $submit.removeClass('loading'); $.tip(".message-container", "保存失败", "服务器超时，请稍后重试！", "negative", 4); }
                });
            }
        }
        function InitPage() {
            BindEvents();
        }
        InitPage();
    })
</script>