
@{
    ViewBag.Title = "区域管理";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}

<div class="region-management">
    <div class="tool-bar">
        <button class="ui basic button" id="addRegion">
            <i class="icon save"></i>
            添加
        </button>
    </div>
    <div class="table-container">
        <div class="ui fitted divider"></div>
        <table class="ui compact celled table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>分类</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="collapsing">
                        <i class="folder icon"></i> node_modules
                    </td>
                    <td>Initial commit</td>
                    <td class="right aligned collapsing">10 hours agoooooooooo</td>
                </tr>
   
            </tbody>
            
        </table>
    </div>
    <div class="ui small modal region-editor">
        <i class="close icon"></i>
        <div class="header">
            修改手机号码
        </div>
        <div class="image content">
            <div class="ui small image">
                <img src="~/Images/DefaultImages/icon_phone_large_150.jpg" />
            </div>
            <div class="form-container">
                <form class="ui form" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="field">
                        <div class="ui action input">
                            <input type="text" name="mobile" placeholder="要绑定的电话" value="">
                            <button class="ui basic button get-code">
                                获取验证码
                            </button>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" name="mobileCode" placeholder="请输入收到的验证码" value="" id="mobileCode">
                    </div>
                    <div class="field" id="CaptchaDiv">
                        <div class="ui action input">
                            <input type="text" placeholder="图形验证码" id="verificationCode" style="width:30%">
                            <img class="ui button" style="padding:0;width:50%;" src="" id="captchaImage" />

                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                取消
            </div>
            <div class="ui positive right labeled icon button" id="submitMobile">
                确定
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Backend/Trip/RegionManagement.js"></script>