
@{
    ViewBag.Title = "区域管理";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}

<div class="region-management">
    <div class="tool-bar">
        <button class="ui basic button" id="addRegion">
            <i class="icon save"></i>
            添加
        </button>
    </div>
    <div class="table-container">
        <div class="ui fitted divider"></div>
        <table class="ui compact celled table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>分类</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="collapsing">
                        <i class="folder icon"></i> node_modules
                    </td>
                    <td>Initial commit</td>
                    <td class="right aligned collapsing">10 hours agoooooooooo</td>
                </tr>
   
            </tbody>
            
        </table>
    </div>
    <div class="ui small modal region-editor">
        <i class="close icon"></i>
        <div class="header">
            添加分类
        </div>
        <div class="image content">
            <div class="form-container">
                <form class="ui form" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="field">
                        <label>上级分类</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="parentName" value="-1">
                            <i class="dropdown icon"></i>
                            <div class="default text">上级分类</div>
                            <div class="menu">
                                <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
                                <div class="item" data-value="hk"><i class="hk flag"></i>Hong Kong</div>
                                <div class="item" data-value="hu"><i class="hu flag"></i>Hungary</div>
                                <div class="item" data-value="is"><i class="is flag"></i>Iceland</div>
                                <div class="item" data-value="in"><i class="in flag"></i>India</div>
                                <div class="item" data-value="io"><i class="io flag"></i>Indian Ocean Territory</div>
                                <div class="item" data-value="zm"><i class="zm flag"></i>Zambia</div>
                                <div class="item" data-value="zw"><i class="zw flag"></i>Zimbabwe</div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields" >
                        <div class="ten wide field">
                            <label>分类名称</label>
                            <input type="text" name="category[name]" placeholder="请输入分类名称" value="">
                        </div>
                        <div class="six wide field">
                            <label>展示顺序</label>
                            <input type="number" min="0" name="category[order]" placeholder="数值越大排列越靠后" value="" id="order">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="ten wide field">
                            <label>英文名称</label>
                            <input type="text" name="category[en-name]" placeholder="请输入英文名称" value="">
                        </div>
                        <div class="six wide field">
                            <label>分类标识</label>
                            <input type="text" name="category[initial]" placeholder="请输入标识" value="">
                        </div>
                    </div>
                    
                    <div class="ui toggle checkbox checked">
                        <input type="checkbox" name="display">
                        <label>前台展示</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                取消
            </div>
            <div class="ui positive right labeled icon button" id="submitMobile">
                确定
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Backend/Trip/RegionManagement.js"></script>