
@{
    ViewBag.Parent = "旅游管理";
    ViewBag.Title = "景点管理";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}
<link href="~/Content/jQuery.FileUpload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Scripts/UEditor/themes/default/css/ueditor.min.css" rel="stylesheet" />
<div class="scenery-management">
    <div class="tool-bar">
        <button class="ui basic button" id="addScenery">
            <i class="icon save"></i>
            添加
        </button>
        <button class="ui basic button" id="clear">
            <i class="icon refresh"></i>
            重置
        </button>
    </div>
    <div class="table-container">
        <div class="ui fitted divider"></div>
        <table class="ui compact celled table" id="dataTable">
            <thead>
                <tr class="center aligned">
                    <th>景点名称</th>
                    <th>英文名称</th>
                    <th>标识</th>
                    <th>发布者</th>
                    <th>发布时间</th>
                    <th>修改者</th>
                    <th>修改时间</th>
                    <th>热度</th>
                    <th>额外费用</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="center aligned">
                    <td colspan="10" class="ui loading segment" height="150px"></td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="ui long modal scenery-editor add">
        <i class="close icon"></i>
        <div class="header">
            编辑分类信息
        </div>
        <div class="image content">
            <div class="form-container">
                <form class="ui form" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    
                    <div class="two fields">
                        <div class="ten wide field">
                            <label>景点名称</label>
                            <input type="text" name="Name" placeholder="请输入分类名称" value="" data-db-key="Name">
                        </div>
                        <div class="six wide field">
                            <label>发布人</label>
                            <input type="text" name="Publisher" value="@User.Identity.Name" disabled data-db-key="Publisher">
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="ten wide field">
                            <label>英文名称</label>
                            <input type="text" name="EnglishName" placeholder="请输入英文名称" value="" data-db-key="EnglishName">
                        </div>
                        <div class="six wide field">
                            <label>分类标识</label>
                            <input type="text" name="Initial" placeholder="请输入标识" value="" onkeyup="this.value=this.value.toUpperCase()" data-db-key="Initial" maxlength="1">
                        </div>
                        <div class="six wide field">
                            <label>额外费用</label>
                            <input type="number" name="ExtraCost" placeholder="请输入标识" value="0" onkeyup="this.value=this.value.toUpperCase()" data-db-key="ExtraCost" min="0" >
                        </div>
                    </div>

                    <div class="field">
                        <label>所属地区</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="parentName" value="-1" data-db-key="regionid" class="parent">
                            <i class="dropdown icon"></i>
                            <div class="default text">所属地区</div>
                            <div class="menu">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>景点地址</label>
                        <input type="text" name="Address" placeholder="请输入地址" value="" data-db-key="Address">
                    </div>
                    <div class="field">
                        <label>景点图片</label>
                        <ul id="photoListContainer">
                            <li>
                                <ul id="photoList">
                                </ul>
                            </li>
                            <li class="sceneryPhoto add-photo" style="background:url(/Images/DefaultImages/add.png) no-repeat;background-position: center;background-size: contain;">
                                <input id="fileUpload" type="file" name="files[]" data-url="/Trip/UploadSceneryPhotos?sceneryId=" multiple>
                            </li>
                            <li class="clearboth"></li>
                            <li>
                                <ul id="pendingList">

                                </ul>
                            </li>
                           
                        </ul>
                      <div class="clearboth"></div>
                        
                        <div class="ui indicating progress hidden" id="progress">
                            <div class="bar"></div>
                            <div class="label"></div>
                        </div>
                        <div id="files" class="files"></div>
                        <div id="some-image"></div>
                        <div class="clearboth"></div>
                    </div>
                    <div class="field">
                        <label>景点描述</label>
                        <div id="descEditor"> </div>
                    </div>
                    <div class="ui error message">
                    </div>
                </form>

            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                关闭
            </div>
            <div class="ui positive right labeled icon button" id="submitForm">
                确定
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div class="ui small modal scenery-editor confirm">
        <div class="header">
            删除分类
        </div>
        <div class="content">
            <p>您确定要删除 <span class="red"></span> 吗？</p>
        </div>
        <div class="actions">
            <div class="ui negative button">
                取消
            </div>
            <div class="ui positive right labeled icon button">
                确定
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jQuery.FileUpload/load-image.all.min.js"></script>
<script src="~/Scripts/jquery.ui.widget.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-image.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-audio.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-video.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-validate.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-ui.js"></script>
<script src="~/Scripts/jQuery.FileUpload/canvas-to-blob.min.js"></script>
<script src="~/Scripts/UEditor/ueditor.config.js"></script>
<script src="~/Scripts/UEditor/ueditor.all.min.js"></script>
<script src="~/Scripts/UEditor/lang/zh-cn/zh-cn.js"></script>
<script src="~/Scripts/Backend/Trip/SceneryManagement.js"></script>