
@{
    ViewBag.Parent = "旅游管理";
    ViewBag.Title = "景点管理";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}

<div class="region-management">
    <div class="tool-bar">
        <button class="ui basic button" id="addRegion">
            <i class="icon save"></i>
            添加
        </button>
        <button class="ui basic button" id="clear">
            <i class="icon refresh"></i>
            重置
        </button>
    </div>
    <div class="table-container">
        <div class="ui fitted divider"></div>
        <table class="ui compact celled table" id="dataTable">
            <thead>
                <tr class="center aligned">
                    <th class="left aligned">景点名称</th>
                    <th class="left aligned">英文名称</th>
                    <th class="">标识</th>
                    <th class="">发布者</th>
                    <th class="">发布时间</th>
                    <th class="">修改者</th>
                    <th class="">修改时间</th>
                    <th class="">热度</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="center aligned">
                    <td colspan="9" class="ui loading segment" height="150px"></td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="ui small modal region-editor add">
        <i class="close icon"></i>
        <div class="header">
            编辑分类信息
        </div>
        <div class="image content">
            <div class="form-container">
                <form class="ui form" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="field">
                        <label>上级分类</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="parentName" value="-1" data-db-key="ParentRegionId" class="parent">
                            <i class="dropdown icon"></i>
                            <div class="default text">所属分类</div>
                            <div class="menu">

                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="ten wide field">
                            <label>景点名称</label>
                            <input type="text" name="Name" placeholder="请输入分类名称" value="" data-db-key="Name">
                        </div>
                        <div class="six wide field">
                            <label>展示顺序</label>
                            <input type="number" min="0" name="SortOrder" placeholder="数值越大排列越靠后" value="20" id="order" data-db-key="SortOrder">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="ten wide field">
                            <label>英文名称</label>
                            <input type="text" name="EnglishName" placeholder="请输入英文名称" value="" data-db-key="EnglishName">
                        </div>
                        <div class="six wide field">
                            <label>分类标识</label>
                            <input type="text" name="Initial" placeholder="请输入标识" value="" onkeyup="this.value=this.value.toUpperCase()" data-db-key="Initial" maxlength="1">
                        </div>
                    </div>

                    <div class="ui toggle checkbox checked">
                        <input type="checkbox" name="IsVisible" data-db-key="IsVisible" value="true">
                        <label>前台展示</label>
                    </div>
                    <div class="ui error message">
                    </div>
                </form>

            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                关闭
            </div>
            <div class="ui positive right labeled icon button" id="submitForm">
                确定
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div class="ui small modal region-editor confirm">
        <div class="header">
            删除分类
        </div>
        <div class="content">
            <p>您确定要删除 <span class="red"></span> 吗？</p>
        </div>
        <div class="actions">
            <div class="ui negative button">
                取消
            </div>
            <div class="ui positive right labeled icon button">
                确定
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Backend/Trip/SceneryManagement.js"></script>
