
@{
    ViewBag.Parent = "旅游管理";
    ViewBag.Title = "行程管理";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}
<div class="trip-management">
    <div class="tool-bar">
        <button class="ui basic button" id="addTrip">
            <i class="icon add"></i>
            添加
        </button>
        <button class="ui basic button" id="clear">
            <i class="icon refresh"></i>
            重置
        </button>
        <hr />
    </div>
    @Html.AntiForgeryToken()
    <div class="table-container">
        <div class="ui fitted divider"></div>
        <table class="ui compact celled table" id="dataTable">
            <thead>
                <tr class="center aligned">
                    <th>编号</th>
                    <th>名称</th>
                    <th>价格</th>
                    <th>所属区域</th>
                    <th>出发城市</th>
                    <th>发布人</th>
                    <th>发布日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="center aligned">
                    <td colspan="8" class="ui loading segment" height="150px"></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div class="ui small modal confirm">
    <div class="header">
        删除线路
    </div>
    <div class="content">
        <p>您确定要删除 <span class="red"></span> 吗？</p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            取消
        </div>
        <div class="ui positive right labeled icon button">
            确定
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<script src="~/Scripts/Backend/Trip/TripList.js"></script>